---
import Tag from './Tag.astro';

const { name, description, image, tags, appUrl, repoUrl } = Astro.props;
---

<div class='max-w-sm bg-endeavour-90050 border border-endeavour-900 rounded-lg shadow'>
  <a href={appUrl}>
    <img
      class='rounded-t-lg hover:opacity-80 transition duration-200'
      src={image}
      alt='Project preview image'
    />
  </a>
  <div class='p-5'>
    <h5 class='mb-2 text-2xl font-bold'>{name}</h5>

    <p class='mb-3 font-normal opacity-50'>{description}</p>
    <ul class='size-fit flex flex-wrap gap-1 mb-3'>
      {
        tags.map((tag) => (
          <Tag
            text={tag.text}
            color={tag.color}
          />
        ))
      }
    </ul>
    <a
      href={repoUrl}
      class='inline-flex items-center px-3 py-2 gap-2 text-sm font-medium text-center rounded-lg border border-endeavour-600 bg-endeavour-500 hover:bg-endeavour-600 active:bg-endeavour-700 transition duration-200'
      ><img
        src='./github.svg'
        alt='GitHub logo'
        class='size-4'
      />
      Source code
    </a>
  </div>
</div>
